/* Todo-Styling */
.todomaindiv {
  width: 90%;
  margin: 2rem auto 1rem auto;
  padding: 1rem;
  min-height: 100vh;
}
.todologoutdiv {
  float: right;
}
.todologoutbutton {
  padding: 15px;
  background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%);
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.todocontainer {
  width: 80%;
  margin: auto;
  height: 500px;
}
.todoheadingdiv {
  padding: 5px;
}
.todoheading {
  margin: auto;
  width: 80%;
  color: #17aca7;
  font-size: 80px;
  font-weight: 900;
  padding: 5px;
}
.todocontainer2 {
  min-height: 50vh;
  padding: 20px;
}
.todowrapper1 {
  min-height: 50vh;
  padding: 10px;
}
.inputbuttondiv {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.todoaddbutton {
  background-image: linear-gradient(
    -225deg,
    #dfffcd 0%,
    #90f9c4 48%,
    #39f3bb 100%
  );
  outline: none;
  border-radius: 5px;
  padding: 2px 2rem 0.2rem 2rem;
  border: none;
  color: #fff;
  font-size: 20px;
}
.todowrapper2 {
  margin-top: 2rem;
  min-height: 50vh;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.alltag,
.activetag,
.completedtag {
  width: 33.3%;
}
.activebutton,
.allbutton,
.completedbutton {
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
  padding: 15px 25px 15px 25px;
  color: #17aca7;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  margin-bottom: 1rem;
  font-weight: 720;
}
.activetodoitems,
.completedtodoitems {
  min-height: 5vh;
  color: #f4c430;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}

.internaltodoitems {
  padding: 10px;
}
.inputlogin {
  padding: 20px;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 20px;
}
