@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  text-align: center;
}
body,
button {
  font-family: "Roboto", sans-serif !important;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #dcdcdc;
}
