/* Login-Form  */
.division {
  display: flex;
  gap: 10px;
}
.parttwo {
  flex-basis: 50%;
}
.vertical {
  border-left: 1px solid #d2d2d2;
  margin-top: 2rem;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading {
  color: rgb(220, 0, 78);
}
.Loginmaindiv {
  flex-basis: 50%;
  float: left;
  width: 80%;
  margin: 5rem auto 1rem auto;
  padding: 10px;
  min-height: 50vh;
}
.formdiv {
  min-height: 50vh;
  padding: 20px;
  margin-top: 1rem;
}
.containerlogin {
  height: 500px;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}

.forminput {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.inputlogin {
  padding: 20px;
  width: 50%;
  outline: none;
  border: none;
  border-bottom: 1px solid #909090;
  font-size: 20px;
}

.formbuttondiv {
  padding: 1rem;
}
.loginbutton {
  padding: 20px;
  width: 25%;
  background-color: #17aca7;
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.loginbuttondisabled {
  padding: 20px;
  width: 25%;
  background-color: #17aca7;
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  opacity: 0.5;
}

.errorfield {
  width: 60%;
  color: #db2269;
  font-size: 0.625em;
}
